<a href="https://colab.research.google.com/github/clariseliu/Week1_Public/blob/master/Copy_of_FullyUpdatedPandasProblemSets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Problem Set

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [40]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [41]:
data = pd.read_csv(url, names=names)

Print out the age and class of the 100th patient

In [42]:
data.iloc[99]

preg       1.000
plas     122.000
pres      90.000
skin      51.000
test     220.000
mass      49.700
pedi       0.325
age       31.000
class      1.000
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [53]:
data_dia_bool = data['class'] ==0
no= data[data_dia_bool]
no

     preg  plas  pres  skin  test  mass   pedi  age  class
1       1    85    66    29     0  26.6  0.351   31      0
3       1    89    66    23    94  28.1  0.167   21      0
5       5   116    74     0     0  25.6  0.201   30      0
7      10   115     0     0     0  35.3  0.134   29      0
10      4   110    92     0     0  37.6  0.191   30      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
762     9    89    62     0     0  22.5  0.142   33      0
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
767     1    93    70    31     0  30.4  0.315   23      0

[500 rows x 9 columns]

Write code to figure out how many people are classified as having diabetes, class is 1

In [54]:
data_dia_yes_bool = data['class'] ==1
yes = data[data_dia_yes_bool]
yes

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
6       3    78    50    32    88  31.0  0.248   26      1
8       2   197    70    45   543  30.5  0.158   53      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
755     1   128    88    39   110  36.5  1.057   37      1
757     0   123    72     0     0  36.3  0.258   52      1
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
766     1   126    60     0     0  30.1  0.349   47      1

[268 rows x 9 columns]

What percent of people have diabetes in the study

In [62]:
totalWith = yes.shape[0] 
total = totalWith + no.shape[0]

percent = totalWith/total 
print('Percent with Diabetes: ' + str(percent * 100) + '%')

Percent with Diabetes: 34.89583333333333%

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [82]:
data_5 = data.head(5)
data_5.loc[:,['pres','class']]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [83]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [ ]:
# your code here

Create a new dataframe with only people that are above the mean found above

In [ ]:
# your code here

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [ ]:
# write code here

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [ ]:
# write code here

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [ ]:
# write code here

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [ ]:
#write code here